@import "colours";

* {
	box-sizing: border-box;
}

@gui_sidebar_width: 60px;

.gui-screen {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gui-contents {
	margin: 0;
	margin-left: @gui_sidebar_width;
	height: 100%;

	// background-color: @color-primary-1;
}

.gui-sidebar {
	position: fixed;
	float: left;
	width: @gui_sidebar_width;
	height: 100%;
	background-color: @color-primary-4;

	.button {
		display: inline-block;;

		// Layout
		@size: @gui_sidebar_width;
		width: @size;
		height: @size;

		// Cursor
		cursor: pointer;

		// Text
		line-height: @size;
		text-align: center;
		font-size: 0.6*@size;
		&:link, &:visited, &:link:hover, &:visited:hover {
			text-decoration: none;
		}

		// Colour
		background-color: @color-primary-3;
		color: @color-primary-1;
		border-bottom: 1pt solid @color-primary-4;

		// Hover colour
		&:hover {
			background-color: @color-complement-3;
			color: @color-complement-1;
		}
	}
}
