@import "colours";

.pres-card-well {
	background-color: @color-secondary-1-4;
	border-color: @color-secondary-1-4;
	color: #FFF;
	textarea {
		// background-color: @color-secondary-1-1;
		// color: #FFF;
		font-family: "Courier New", monospace;
	}
}

.pres-card-s1 {
	background-color: @color-secondary-1-2;
	border-color: @color-secondary-1-2;
	.card-footer, .card-header {
		background-color: @color-secondary-1-2;
		border-color: @color-secondary-1-2;
	}

}
.pres-card-s2 {
	background-color: @color-secondary-2-2;
	border-color: @color-secondary-2-2;
	.card-footer, .card-header {
		background-color: @color-secondary-2-2;
		border-color: @color-secondary-2-2;
	}
}
.pres-card-c {
	background-color: @color-complement-2;
	border-color: @color-complement-2;
	.card-footer, .card-header {
		background-color: @color-complement-2;
		border-color: @color-complement-2;
	}
}



.pres-card-s2 .pres-card-well {
	background-color: @color-secondary-2-4;
	border-color: @color-secondary-2-4;
	color: #FFF;
	// textarea {
	// 	background-color: @color-secondary-1-1;
	// 	color: #FFF;
	// 	font-family: "Courier New", monospace;
	// }
}

.modal-fullscreen {
	.modal-dialog {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 15px;
		max-width: none;
		top: 0;
		left: 0;
	}

	.modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
	}

	.modal-body {
		position: absolute;
		top: 54px; left: 0;
		width: 100%;
		height: ~"calc(100% - 54px)";
	}
}

.pres-preview-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
