
<div style="height:15px;"></div>

<div class="row">
	<div class="col-xs-12">
		<h1>Chapter 5 - Forms and JavaScript</h1>
		<!--
			TODO
			====
			- Alerts
			- Buttons
			- Cards
			- Collapse & Dropdown
		-->
	</div>

	<div class="col-xs-12">

		<!-- Explanation Card -->
		<div class="card">
			<div class="card-block">
				<h4 class="card-title">
					--
				</h4>
				<p class="card-text">
				--
				<br />
				</p>
			</div>
		</div>

		<!-- Code Card -->
		<div class="card pres-card-code pres-card-s2">
			
			<div class="card-block">
				<h4 class="card-title">
					Placeholder
				</h4>
				<p class="card-text">
					<a target="_blank" href="http://v4-alpha.getbootstrap.com/components/forms/">
						v4-alpha/components/forms
					</a>
			</div>


			<div class="card-block card-inverse pres-card-well">
				<div class="form-group">
					<textarea class="form-control" rows="2" data-use-bootstrap="true"></textarea>
				</div>
			</div>

		</div>

		
	</div>
</div>
