
<div style="height:15px;"></div>

<div class="row">
	<div class="col-xs-12">
		<h1>Chapter 2 - The Grid System</h1>
	</div>

	<div class="col-xs-12">

		<!-- Explanation Card -->
		<div class="card">
			<div class="card-block">
				<h4 class="card-title">
					Containers, Rows, Columns
				</h4>
				<p class="card-text">
				Bootstrap's grid system has three major components.<br />
				<br />
				A <code>container</code> is a large column that will fill most
				of the screen's space. You can use this as the base for your
				website's contents, and have a nice background image fill the
				sides. For smaller screens, the container will fill all the space.
				Alternatively, you can use the <code>container-fluid</code> class
				to always fill the entire screen.<br />
				<br />

				A <code>col</code> defines a column on a webpage.<br />
				<br />
				A class of <code>col col-xd-6</code> defines a
				column that will span half the screen.
				The page is split into 12 hypothetical columns, so you can
				define a column to have any of of 12 possible sizes.<br />
				<br />
				You can define different column sizes for different screen sizes.
				The available sizes are <code>xs</code>, <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>. Bootstrap will render the <code>xs</code> size first and the next ones
				as the size of the screen width increases. The <code>xs</code> size is assumed to be 12 if not specified<br />
				<br />


				A <code>row</code> groups together columns. Columns in different
				rows will never appear beside each other.
				<br />
				</p>
			</div>
		</div>

		<!-- Code Card -->
		<div class="card pres-card-code pres-card-s2">
			<div class="card-block">
				<h4 class="card-title">
					Four Columns?
				</h4>
				<p class="card-text">
				Try changing the size of your browser and see how the layout changes.
				Next, think of your own layout and try to make it happen!
				</p>
			</div>
			<div class="card-block card-inverse pres-card-well">
				<div class="form-group">
					<textarea class="form-control" rows="12" data-use-bootstrap="true"
>
<div class="container">

	<div class="row">
		<div class="col col-sm-6 col-md-4 col-lg-3" style="border: 4px double black;">
			<p>A</p>
		</div>
		<div class="col col-sm-6 col-md-4 col-lg-3" style="border: 4px double black;">
			<p>B</p>
		</div>
		<div class="col col-sm-6 col-md-4 col-lg-3" style="border: 4px double black;">
			<p>C</p>
		</div>
		<div class="col col-sm-6 col-md-4 col-lg-3" style="border: 4px double black;">
			<p>D</p>
		</div>
	</div>

</div>
</textarea>
				</div>
			</div>
			<div class="card-footer">
				<div class="btn btn-secondary" data-action="try">
					Try Code
				</div>
			</div>
		</div>

		
	</div>
</div>
