<div class="row">
	<div class="col-xs-12">

		<!-- Explanation Card -->
		<div class="card">
			<div class="card-block">
				<h4 class="card-title">
					Bootstrap Documentation
				</h4>
				<p class="card-text">
					The examples in this presentation are based on the official Bootstrap documentation.
				<p class="card-text">
					You can view the official documentation yourself at
					<a target="_blank" href="https://v4-alpha.getbootstrap.com/getting-started/introduction/">
						https://v4-alpha.getbootstrap.com/getting-started/introduction/
					</a>
				<p class="card-text">
					Bootstrap docs are licensed under
					<a target="_blank" href="https://creativecommons.org/licenses/by/3.0/">
						CC BY 3.0
					</a>
			</div>
		</div>
	</div>
</div>
