
<div style="height:15px;"></div>

<div class="row">
	<div class="col-xs-12">
		<h1>Chapter 4 - More Components</h1>
		<!--
			TODO
			====
			- Alerts
			- Buttons
			- Cards
			- Collapse & Dropdown
		-->
	</div>

	<div class="col-xs-12">

		<!-- Explanation Card -->
		<div class="card">
			<div class="card-block">
				<h4 class="card-title">
					Alerts, buttons, and more!
				</h4>
				<p class="card-text">
				</p>
			</div>
		</div>

		<!-- Code Card -->
		<div class="card pres-card-code pres-card-s2">

			<div class="card-block">
				<h4 class="card-title">
					Alerts
				</h4>
				<p class="card-text">
				</p>
			</div>

			<div class="card-block card-inverse pres-card-well">
				<div class="form-group">
					<textarea class="form-control" rows="12" data-use-bootstrap="true"
>
<div class="container">
	<h4>Alerts</h4>
	<div class="alert alert-success">
		<strong>Hey Cool!</strong>
		A thing happened, and it worked!
	</div>
	<div class="alert alert-warning">
		<strong>Be warned:</strong>
		Alerts require a contextual class.
	</div>
	<div class="alert alert-info">
		A <strong>contextual class</strong> in Bootstrap is one of
		the following: success, info, warning, danger
	</div>
	<div class="alert alert-danger">
		<strong>Oh snap!</strong>
		There's nothing left to say!
	</div>

</div>
</textarea>
				</div>
			</div>
			<div class="card-footer">
				<div class="btn btn-secondary" data-action="try">
					Try Code
				</div>
			</div>
		</div>


<!-- Code Card -->
		<div class="card pres-card-code pres-card-s2">
			
			<div class="card-block">
				<h4 class="card-title">
					Buttons
				</h4>
				<p class="card-text">
				<strong>Note:</strong> Example from official <a href="#lic">Bootstrap documentation</a></strong> 
			</div>

			<div class="card-block card-inverse pres-card-well">
				<div class="form-group">
					<textarea class="form-control" rows="12" data-use-bootstrap="true"
>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Secondary, outline button -->
<button type="button" class="btn btn-secondary">Secondary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>

</textarea>
				</div>
			</div>
			<div class="card-footer">
				<div class="btn btn-secondary" data-action="try">
					Try Code
				</div>
			</div>
		</div>



<!-- Code Card -->
		<div class="card pres-card-code pres-card-s2">
			
			<div class="card-block">
				<h4 class="card-title">
					Do more with buttons
				</h4>
				<p class="card-text">
					Bootstrap also allows you to button-ify checkboxes and radio buttons!
			</div>

			<div class="card-block card-inverse pres-card-well">
				<div class="form-group">
					<textarea class="form-control" rows="12" data-use-bootstrap="true"
>

<button type="button" class="btn btn-primary"
	data-toggle="button"
	aria-pressed="false">
	Click me - I'm a toggle-able button!
</button>

<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-primary active">
		<input type="checkbox" checked> Check 1
	</label>
	<label class="btn btn-primary">
		<input type="checkbox"> Check 2
	</label>
	<label class="btn btn-primary">
		<input type="checkbox"> Check 3
	</label>
</div>

</textarea>
				</div>
			</div>
			<div class="card-footer">
				<div class="btn btn-secondary" data-action="try">
					Try Code
				</div>
			</div>
		</div>


<!-- Code Card -->
		<div class="card pres-card-code pres-card-s2">
			
			<div class="card-block">
				<h4 class="card-title">
					Cards
				</h4>
				<p class="card-text">
					If you're reading this, we didn't have time to implement an interactive tutorial for
					<strong>cards</strong>.
				<p class="card-text">
					Instead, we'll take a look at the Bootstrap documentation:<br />
					<a target="_blank" href="http://v4-alpha.getbootstrap.com/components/card/">
						v4-alpha/components/card
					</a>
			</div>


			<div class="card-block card-inverse pres-card-well">
				<div class="form-group">
					<textarea class="form-control" rows="2" data-use-bootstrap="true"></textarea>
				</div>
			</div>

			<div class="card-footer">
				<div class="btn btn-secondary" data-action="try">
					Try Code
				</div>
			</div>

		</div>



<!-- Code Card -->
		<div class="card pres-card-code pres-card-s2">
			
			<div class="card-block">
				<h4 class="card-title">
					Collapse plugin
				</h4>
				<p class="card-text">
					If you're reading this, we didn't have time to implement an interactive tutorial for
					<strong>Collapse</strong>.
				<p class="card-text">
					Instead, we'll take a look at the Bootstrap documentation:<br />
					<a target="_blank" href="http://v4-alpha.getbootstrap.com/components/collapse/">
						v4-alpha/components/collapse
					</a>
			</div>


			<div class="card-block card-inverse pres-card-well">
				<div class="form-group">
					<textarea class="form-control" rows="2" data-use-bootstrap="true"></textarea>
				</div>
			</div>

			<div class="card-footer">
				<div class="btn btn-secondary" data-action="try">
					Try Code
				</div>
			</div>

		</div>

		
	</div>
</div>
