
<div style="height:15px;">
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>Chapter 0 - Downloading the Presentation</h1>
	</div>

	<div class="col-xs-12">

			<div class="card">
				<div class="card-block">
					<h4 class="card-title">
						Clone with Git
					</h4>
					<p class="card-text">
					<code>git clone git@gitlab.com:seekuoitdc/presentation-bootstrap.git</code>
					</p>
				</div>
			</div>

			<!-- Explanation Card -->
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">
						Download from GitLab
					</h4>
					<p class="card-text">
					https://gitlab.com/seekuoitdc/presentation-bootstrap
					</p>
				</div>
			</div>

	</div>
</div>