
<div style="height:15px;"></div>

<div class="row">
	<div class="col-xs-12">
		<h1>Chapter 3 - Typography</h1>
	</div>

	<div class="col-xs-12">

		<!-- Explanation Card -->
		<div class="card">
			<div class="card-block">
				<h4 class="card-title">
					Typography
				</h4>
				<p class="card-text">
				Bootstrap overrides many of the default styles, and adds some
				convenient classes to format textual contents of your web page.
				<br />
				</p>
			</div>
		</div>

		<!-- Code Card -->
		<div class="card pres-card-code pres-card-s1">
			<div class="card-block card-inverse pres-card-well">
				<div class="form-group">
					<textarea class="form-control" rows="12" data-use-bootstrap="true"
>
<div class="container">

	<h1>H1 Bootstrap Heading</h1>
	<div class="h3">H3 Bootstrap Heading with <small class="text-muted">some small grey text</small></div>

	<h1 class="display-1">Display Heading</h1>

	<p class="lead">Some important paragraph,</p>
	<p>which should stand out from the paragraph below it!</p>

	<blockquote class="blockquote">
		I am a block-quote. How cool is that?
		<footer class="blockquote-footer">The Blockquote</footer>
	</blockquote>

	<div class="jumbotron">
		<h1 class="display-3">Hi! I really stand out!</h1>
		<p class="lead">I should probably go near the top of the page, though.</p>
	</div>

</div>
</textarea>
				</div>
			</div>
			<div class="card-footer">
				<div class="btn btn-secondary" data-action="try">
					Try Code
				</div>
			</div>
		</div>

		
	</div>
</div>
